apiVersion: v1
kind: Service
metadata:
  name: {{NAME}}-dbconsole
  namespace: {{NAMESPACE}}
  labels:
    qh-tool/name: {{NAME}}
spec:
  type: ClusterIP
  selector:
    app: {{NAME}}-dbconsole
  ports:
    - port: 8081
      targetPort: 8081
