apiVersion: v1
kind: Service
metadata:
  name: {{SVC_NAME}}
  namespace: {{NAMESPACE}}
  labels:
    qh-tool/name: {{NAME}}
spec:
  type: ClusterIP
  selector:
    app: {{SVC_NAME}}
  ports:
    - port: {{PORT}}
      targetPort: {{PORT}}
